main{
  background: rgb(16, 156, 199);
  
}

.name {
  color: black;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  border: ridge white;
  border-width: thick;
  background: rgb(16, 156, 199);
  padding-top: 20px;
  height: 100px;
  font-family:fantasy;
  width : 600px;
  margin: 0 auto;
}

.aboutMe {
  color : black;
  text-align: left;
  padding-top: 15px;
  font-size: 45px;
  font-family:cursive;
  font-weight: bold;
  padding-left: 15px;
}
.Prev {
  color: black;
  text-align: left;
  padding-top: 15px;
  font-size: 45px;
  font-family:cursive;
  font-weight: bold;
  padding-left: 15px;
}

.Res{
  color: black;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 45px;
  font-family:cursive;
  font-weight: bold;
  padding-left: 15px;
  background:rgb(16, 156, 199);
}
.Form{
  color: black;
  text-align: left;
  padding-top: 25px;
  font-size: 45px;
  font-family:cursive;
  font-weight: bold;
  padding-left: 15px;
  background: rgb(16, 156, 199);
}

.box {
  padding-left: 15px;
  font-size: 1em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: white 2px solid;
  width: 120px;
  height: 120px;
  padding-top: 25px;
  display: flexbox;
}

.row {
  display: block;
  float:left;
  width:100%;
}

.form{
  text-align: center;
  padding-top: 25px;
  padding-bottom:25px;
  
}
.f1{
  padding-top: 15px;
  padding-bottom:15px;
}
.f2{
  padding-top: 15px;
  padding-bottom:15px;
}
.f3{
  padding-top: 15px;
  padding-bottom:15px;
}
.message{
  width : 450px;
  height : 300px;
  border:black 1.5px solid ;
}
.M1{
  width : 300px;
  height : 50px;
  border:black 1.5px solid ;
}
.M2{
  width : 300px;
  height : 50px;
  border:black 1.5px solid ;
}
.FDiv{
  border: white 3px solid;
  width : 600px;
  margin: 0 auto;
  background: rgb(235, 171, 11);
}

.buttons{
  padding-bottom: 15px;
}