main{
  background: rgb(16, 156, 199);
  
}

.name {
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  border-width: thick;
  background: rgb(16, 156, 199);
  padding-top: 100px;
  height: 100px;
  font-family:fantasy;
  width : 600px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  height: 70px;
  background-color: rgb(3, 19, 53);
  font-size: x-large;
  color: white;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  place-items: center;
  position: fixed;
  top:0;
  border-bottom: white thin solid ;
}
.btn1 {
  color: white;
  height: 40px;
  width: 90px;
  padding: 2px;
  text-decoration: none;
}
.btn2 {
  color: white;
  height: 40px;
  width: 90px;
  padding: 2px;
  text-decoration: none;
}
.btn2 {
  color: white;
  height: 40px;
  width: 90px;
  padding: 2px;
  text-decoration: none;
}
.btn3 {
  color: white;
  height: 40px;
  width: 155px;
  padding: 2px;
  text-decoration: none;
}
.btn4 {
  color: white;
  height: 40px;
  width: 155px;
  padding: 2px;
  text-decoration: none;
}
.aboutMe {
  color : white;
  text-align: left;
  padding-top: 60px;
  font-size: 45px;
  font-family:cursive;
  font-weight: bold;
  padding-left: 15px;
}
.Prev {
  color: white;
  text-align: left;
  padding-top: 15px;
  font-size: 45px;
  font-family:cursive;
  font-weight: bold;
  padding-left: 15px;
}

.Res{
  color: white;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 45px;
  font-family:cursive;
  font-weight: bold;
  padding-left: 15px;
  background:rgb(16, 156, 199);
}
.Form{
  color: white;
  text-align: left;
  padding-top: 25px;
  font-size: 45px;
  font-family:cursive;
  font-weight: bold;
  padding-left: 15px;
  background: rgb(16, 156, 199);
}

.box {
  padding-left: 15px;
  font-size: 1em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: white 2px solid;
  width: 120px;
  height: 120px;
  padding-top: 25px;
  display: flexbox;
}

.row {
  display: block;
  float:left;
  width:100%;
}

.form{
  text-align: center;
  padding-top: 25px;
  padding-bottom:25px;
  
}
.f1{
  padding-top: 15px;
  padding-bottom:15px;
  padding-right: 47px;
}

.f3{
  padding-top: 15px;
  padding-bottom:15px;
}
.message{
  width : 650px;
  height : 100px;
  border:black 1.5px solid ;
  padding-bottom: 10px;
}
.M1{
  width : 300px;
  height : 50px;
  border:black 1.5px solid ;
}
.M2{
  width : 300px;
  height : 50px;
  border:black 1.5px solid ;
}
.FDiv{
  border: white 3px solid;
  width : 900px;
  height: 300px;
  margin: 0 auto;
  background: rgb(3, 19, 53);
  padding-top: 5px;
}

.buttons{
  padding-bottom: 15px;
}
.Email{
  color :white;
}
.Name{
  color :white;
}
.Note{
  color :white;
}