main{
  background: rgb(16, 156, 199);
  
}

.name {
  color: white;
  text-align: center;
  font-size: 300%;
  font-weight: bold;
  border-width: thick;
  background: rgb(16, 156, 199);
  padding-top: 100px;
  height: 100px;
  font-family:fantasy;
  width : 600px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  height: 50px;
  background-color: rgb(3, 19, 53);
  color: white;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  place-items: center;
  position: fixed;
  bottom:0;
  border-top: white thin solid ;
}
.btn1 {
  color: white;
  height: 40px;
  width: 90px;
  padding: 2px;
  text-decoration: none;
}
.btn2 {
  color: white;
  height: 40px;
  width: 90px;
  padding: 2px;
  text-decoration: none;
}
.btn2 {
  color: white;
  height: 40px;
  width: 90px;
  padding: 2px;
  text-decoration: none;
}
.btn3 {
  color: white;
  height: 40px;
  width: 155px;
  padding: 2px;
  text-decoration: none;
}
.btn4 {
  color: white;
  height: 40px;
  width: 155px;
  padding: 2px;
  text-decoration: none;
}
.aboutMe {
  color : white;
  text-align: left;
  padding-top: 60px;
  font-size: 45px;
  font-family:cursive;
  font-weight: bold;
  padding-left: 15px;
}
.Prev {
  color: white;
  text-align: left;
  padding-top: 15px;
  font-size: 45px;
  font-family:cursive;
  font-weight: bold;
  padding-left: 15px;
}

.Res{
  color: white;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 45px;
  font-family:cursive;
  font-weight: bold;
  padding-left: 15px;
  background:rgb(16, 156, 199);
}
.Form{
  color: white;
  text-align: left;
  padding-top: 25px;
  font-size: 45px;
  font-family:cursive;
  font-weight: bold;
  padding-left: 15px;
  background: rgb(16, 156, 199);
}

.box {
  padding-left: 15px;
  font-size: 1em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: white 2px solid;
  width: 120px;
  height: 120px;
  padding-top: 25px;
  display: flexbox;
}

.row {
  display: block;
  float:left;
  width:100%;
}

.form{
  text-align: center;
  padding-top: 25px;
  padding-bottom:25px;
  
}
.f1{
  padding-top: 15px;
  padding-bottom:15px;
  padding-right: 47px;
}

.f3{
  padding-top: 15px;
  padding-bottom:15px;
}
.message{
  width : 60%;
  height : 100px;
  border:black 1.5px solid ;
  padding-bottom: 10px;
}
.M1{
  width : 35%;
  height : 30%;
  border:black 1.5px solid ;
}
.M2{
  width : 35%;
  height : 30%;
  border:black 1.5px solid ;
}
.FDiv{
  border: white 3px solid;
  width : 80%;
  height: 80%;
  margin: 0 auto;
  background: rgb(3, 19, 53);
  padding-top: 5px;
}

.buttons{
  padding-bottom: 15px;
}
.Email{
  color :white;
  padding-top: 15px;
}
.Name{
  color :white;
}
.Note{
  color :white;
}
.proj1{
  text-align: left;
  color:white;
  background-color: rgb(3, 19, 53);
  padding-left: 10px;
  padding-right:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: white 2px solid;
}
.prevW1{
  width: 60%;
  margin: 0 auto;
 }
 .security {
  color:white;
  font-weight: bold;
  
 }
 .proj2{
  text-align: left;
  color:white;
  background-color: rgb(3, 19, 53);
  padding-left: 10px;
  padding-right:10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: white 2px solid;
}
.prevW2{
  width: 60%;
  margin: 0 auto;
  padding-top: 15px;
 }
 .abilities {
  color:white;
  font-weight: bold;
  
 }

@media(max-width: 414px){
  .nav {
    width: 100%;
    height: 70px;
    font-size: .8em;
    background-color: rgb(3, 19, 53);
    color: white;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    place-items: left;
    position: fixed;
    bottom:0;
    border-top: white thin solid ;
  }
  .Email{
    padding-top: 5px;
  }
  .name {
    color: white;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    border-width: thick;
    background: rgb(16, 156, 199);
    padding-top: 100px;
    height: 100px;
    font-family:fantasy;
    width : 400px;
    margin: 0 auto;
  }
  .message{
    width : 55%;
    height : 55x;
    border:black 1.5px solid ;
    padding-bottom: 10px;
  }
  .M1{
    width : 50%;
    height : 15%;
    border:black 1.5px solid ;
  }
  .M2{
    width : 50%;
    height : 15%;
    border:black 1.5px solid ;
  }
  .FDiv{
    border: white 3px solid;
    width : 60%;
    height: 40%;
    margin: 0 auto;
    background: rgb(3, 19, 53);
    padding-top: 5px;
  }

}
@media(max-width: 768px) and (min-width: 415px){
  .nav {
    width: 100%;
    height: 70px;
    font-size: .8em;
    background-color: rgb(3, 19, 53);
    color: white;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    place-items: left;
    position: fixed;
    bottom:0;
    border-top: white thin solid ;
  }
  .name {
    color: white;
    text-align: center;
    font-size: 250%;
    font-weight: bold;
    border-width: thick;
    background: rgb(16, 156, 199);
    padding-top: 100px;
    height: 100px;
    font-family:fantasy;
    width : 450px;
    margin: 0 auto;
  }
  .Email{
    padding-top: 10px;
  }
  .message{
    width : 70%;
    height : 70x;
    border:black 1.5px solid ;
    padding-bottom: 10px;
  }
  .M1{
    width : 45%;
    height : 20%;
    border:black 1.5px solid ;
  }
  .M2{
    width : 45%;
    height : 20%;
    border:black 1.5px solid ;
  }
  .FDiv{
    border: white 3px solid;
    width : 60%;
    height: 60%;
    margin: 0 auto;
    background: rgb(3, 19, 53);
    padding-top: 5px;
  }
}
